/*h5a1 Dark Theme by Rafael De Jongh - www.RafaelDeJongh.com*/
#mainrow,#topbar,#content,#view .item,#sidebar{background-color:#1d1f21}
#tree a,#tree a:active,#tree a.visited,#root,input,select,#crumbbar a,#crumbbar a:active,#crumbbar a:visited,#backlink,#backlink:active,#backlink:visited,#content-header,#content-footer{color:#e9e9e9}
#tree a:hover,#tree a:active:hover,#tree a.visited:hover{color:#fff}
#view.view-details .item{border-bottom:1px solid #343638}
#view .item:hover{background:#343638;color:#fff}
#view .item,a{transition:all .3s ease}
#sidebar{border-right:3px solid #343638}
#view.view-icons .landscape{background:#272727}
#view.view-details .item:hover{box-shadow:unset}
#pv-content-txt{background:#252525;color:#fff;padding:15px 20px}
#pv-content-aud{width:86%;top:44.8vh!important;box-shadow:unset}
.fullscreen #pv-content-aud{top:47.3vh!important}
audio{filter:invert(1)}
audio::-webkit-media-controls-panel{color:#fff;background:#d0d0d0}
audio::-webkit-media-controls-current-time-display{color:#000}
audio::-webkit-media-controls-time-remaining-display{color:#000}
/*Login*/
#root.info #header a{color:#eee}
#root.info #login,#root.info #logout,#root.info #pass{background:#343638}
#root.info #support,#root.info #tests .test{background:#d7d9db;border-radius:5px}
/*Scrollbar*/
::-webkit-scrollbar{width:12px;height:12px;background-color:#1d1f21}
::-webkit-scrollbar-corner{background-color:#1d1f21}
::-webkit-scrollbar-track{background-color:#1d1f21}
::-webkit-scrollbar-thumb{background:#343638}
::-webkit-scrollbar:horizontal{height:12px}
/*Selection*/
::selection{color:#fff;background-color:#bbb}
::-moz-selection{color:#fff;background-color:#bbb}
